<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lfq6ekUAAAAAORskahG7570ILzpjEs9q7hgBafp"></script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6Lfq6ekUAAAAAORskahG7570ILzpjEs9q7hgBafp', {action: 'homepage'}).then(function(token){
            var data = {
                test: "hello",
                token: token
            };
            fetch('/send', {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'post',
                body: JSON.stringify(data)
            })
                .then(response => response.text())
                .then(text => console.log(text))
                .catch(error => console.log(error));
        });
    });
</script>
</body>

</html>