<!doctype html>
<html lang="it">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sono un programmatore web full-stack. Mi occupo di ogni parte del sito, dal design al codice, utilizzando le ultime tecnologie e tecniche, rendendolo unico e adatto a tutti i dispositivi.">
    <meta name="keywords"
        content="bitrey, programmatore web modena, Realizzazione Siti Web a Modena, programmatore web, portfolio programmatore web, alessandro amella, creazione siti web modena, sviluppo siti web modena">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="/css/style.min.css">
    <title>Bitrey Portfolio</title>
    <meta property="og:title" content="Bitrey Realizzazione Siti Web" />
    <meta property="og:description" content="Sono un programmatore web full-stack. Mi occupo di ogni parte del sito, dal design al codice, utilizzando le ultime tecnologie e tecniche, rendendolo unico e adatto a tutti i dispositivi." />
    <meta property="og:image" content="https://i.ibb.co/djF6yKN/Bitrey-Logo-Text-min.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
        ga('create', 'UA-89463817-3', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="display: none;">
        <a class="navbar-brand mr-lg-5" href="#section1">
            <img src="/img/bitrey-logo-text.png" alt="Bitrey Logo" style="max-width: 5rem">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#section1">Introduzione</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section2">Di cosa mi occupo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section3">Su cosa punto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section4">Sempre all'avanguardia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section5">Piano annuale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section6">Contatti</a>
                </li>
            </ul>
        </div>
    </nav>