<!doctype html>
<html lang="it">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sono un programmatore web full-stack. Mi occupo di ogni parte del sito, dal design al codice, utilizzando le ultime tecnologie e tecniche, rendendolo unico e adatto a tutti i dispositivi.">
    <meta name="keywords"
        content="bitrey, programmatore web modena, Realizzazione Siti Web a Modena, programmatore web, portfolio programmatore web, alessandro amella, creazione siti web modena, sviluppo siti web modena">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bitrey Portfolio</title>
    <meta property="og:title" content="Bitrey Sviluppo siti web" />
    <meta property="og:description" content="Sono un programmatore web full-stack. Mi occupo di ogni parte del sito, dal design al codice, utilizzando le ultime tecnologie e tecniche, rendendolo unico e adatto a tutti i dispositivi." />
    <meta property="og:image" content="https://i.ibb.co/djF6yKN/Bitrey-Logo-Text-min.png" />
</head>

<body>