<%- include ('./partials/header') %>

<main>
    <div class="section" id="section1">
        <div class="container text-center main-header mx-auto">
            <img src="/img/bitrey-logo-text.png" alt="Bitrey Logo Text" class="text-logo">
            <h1>Ciao, sono Alessandro, e sviluppo siti web.</h1>
            <p>Lo sapevi? Il 93% delle decisioni di acquisto inizia con una ricerca su Internet</p>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="container text-center main-header mx-auto">
            <h1>Di cosa mi occupo</h1>
            <p class="main-subheader">Sono un programmatore web full-stack di Modena.
                <br>Mi occupo di ogni parte del sito, dal design al codice, utilizzando le ultime tecnologie e tecniche, rendendolo unico e adatto a tutti i dispositivi.
                <div class="row justify-content-around mt-5">
                    <div class="col-6 col-lg-4">
                        <img src="/img/front-end.svg" alt="Frontend" class="section-img">
                        <h5 class="section-title">Frontend</h5>
                        <p>
                            <span class="purple-title">Lingue che parlo</span>
                            <br>HTML, CSS, JavaScript
                        </p>
                        <p>
                            <span class="purple-title">Alcuni strumenti che uso</span>
                            <br>Visual Studio Code
                            <br>Figma
                            <br>Bootstrap
                            <br>Codepen
                            <br>jQuery
                        </p>
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="/img/back-end.svg" alt="Frontend" class="section-img">
                        <h5 class="section-title">Backend</h5>
                        <p>
                            <span class="purple-title">MEN Stack</span>
                            <br>MongoDB, Express, Node.js
                        </p>
                        <p>
                            <span class="purple-title">Alcuni dei moduli che so usare</span>
                            <br>Passport.io
                            <br>Google oAuth 2.0
                            <br>Mongoose
                            <br>EJS
                            <br>Socket.io
                        </p>
                    </div>
                </div>
            </p>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="container text-center main-header mx-auto">
            <h1>Su cosa punto</h1>
            <p class="main-subheader">
                <div class="row justify-content-around mt-5">
                    <div class="col-6 col-lg-4">
                        <img src="/img/responsive.svg" alt="Responsive" class="section-img">
                        <p>
                            <span class="purple-title">Responsive design</span>
                                <br>In 6 anni, il traffico web da telefono è passato dal 16% a oltre il 50%.
                                <br>Prima di creare un'interfaccia, penso sempre a come adattarla per tutti i dispositivi.
                        </p>
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="/img/speed.svg" alt="Speed" class="section-img">
                        <p>
                            <span class="purple-title">Pagine veloci</span>
                            <br>Oltre la metà dei siti che impiegano più di 3 secondi a caricarsi vengono immediatamente chiusi.
                            <br>È ciò che ha scoperto Google, motivo per il quale valuta la velocità come il criterio più importante di ogni sito.
                        </p>
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="/img/simplicity.svg" alt="Simplicity" class="section-img">
                        <p>
                            <span class="purple-title">Interfacce semplici e intuitive</span>
                            <br>Le pagine web senza sufficiente spazio bianco possono sembrare disordinate.
                            <br>Negli ultimi anni si è passati a favorire design semplici e immediati.
                            <br>Mi impegno sempre a creare una pagina web curata e intuitiva pur rimanendo nell'essenziale.
                        </p>
                    </div>
                </div>
            </p>
        </div>
    </div>
    <div class="section" id="section4">
        <div class="container text-center main-header mx-auto">
            <h1>Sempre all'avanguardia</h1>
            <p class="main-subheader">
                Le richieste e le necessità dei siti web cambiano di anno in anno: in questo campo non si può restare indietro.
                <br>Per questo utilizzo le ultimissime tecnologie, restando sempre aggiornato.
                <div class="row justify-content-around mt-lg-2">
                    <div class="col-6 col-lg-4">
                        <img src="/img/flashhtml.svg" alt="Flash HTML" class="img-fluid">
                    </div>
                    <div class="col-6 col-lg-4 mt-lg-5 pt-lg-5">
                        <img src="/img/phpnode.svg" alt="PHP Node.js" class="img-fluid">
                    </div>
                    <div class="col-6 col-lg-4">
                        <img src="/img/mysqlmongo.svg" alt="MySQL MongoDB" class="img-fluid">
                    </div>
                </div>
            </p>
        </div>
    </div>
    <div class="section" id="section5">
        <div class="container text-center main-header mx-auto">
            <h1>Piano annuale</h1>
            <p class="main-subheader">
                Se sei esperto nell'hosting e manutenzione di siti web, posso consegnarti tutti i file in modo che te li puoi gestire come vuoi.
                <br>Altrimenti puoi usufruire del conveniente piano annuale, che include:
            </p>
            <div class="row justify-content-around mt-5">
                <div class="col-6 col-lg-3">
                    <img src="/img/server.svg" alt="Hosting" class="section-img">
                    <p>
                        <span class="purple-title">Hosting del sito</span>
                        <br>Per essere online, il sito ha bisogno di essere su un server veloce, potente e sempre acceso.
                        <br>Installerò il tuo sito in un server virtuale Linux gestito da me.
                    </p>
                </div>
                <div class="col-6 col-lg-3">
                    <img src="/img/domain.svg" alt="Domain" class="section-img">
                    <p>
                        <span class="purple-title">Dominio internet</span>
                        <br>Se vuoi che il tuo sito sia raggiungibile da un indirizzo (come
                        <span style="font-style: italic;">www.latuaazienda.it</span>)
                        bisogna registrare e tenere rinnovato un dominio internet.
                    </p>
                </div>
                <div class="col-6 col-lg-3">
                    <img src="/img/email.svg" alt="Email" class="section-img">
                    <p>
                        <span class="purple-title">Indirizzo Email</span>
                        <br>Avrai anche una casella di posta elettronica associata al tuo dominio (come
                        <span style="font-style: italic;">info@latuaazienda.it</span>).
                    </p>
                </div>
                <div class="col-6 col-lg-3">
                    <img src="/img/ssl.svg" alt="SSL" class="section-img">
                    <p>
                        <span class="purple-title">Criptazione con certificato SSL</span>
                        <br>Vedi il lucchetto in alto, di fianco all'indirizzo del sito?
                        <br>Esso mostra che il sito dispone di un certificato che lo rende sicuro.
                        <br>Con il piano annuale installerò un certificato SSL in modo da garantire la massima sicurezza.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section6">
        <div class="container text-center main-header mx-auto">
            <h1>Interessato? Parliamo!</h1>
            <p class="main-subheader">
                Per qualunque tipo di informazione, non esitare a contattarmi su
                <a href="mailto:info@bitrey.it">info@bitrey.it</a>
            </p>
        </div>
    </div>
</main>

<%- include ('./partials/footer') %>